In [1]:
print("Hello Deutschland")

Hello Deutschland

In [6]:
import pandas as pd
import numpy as np

In [7]:
import os

In [11]:
ntr = pd.read_excel(r'data\Nutrients.xlsx')

In [13]:
name = "IONITY"

In [14]:
ntr.head()

  Letter  Diet  Product X
0      A     7          63
1      B    60          52
2      C    83          59
3      D    10          85
4      E    39          82

In [23]:
#Calculate daily req

req = [1e+2,1e-2,1e+2,1e-4,1e-3]
for l in range(0,5):
    print(name[l])
    req[l] = ntr.loc[ntr['Letter']==name[l],'Diet'].values[0] * req[l]

I
O
N
I
T

In [24]:
req

[np.float64(6500.0),
 np.float64(0.1),
 np.float64(600.0),
 np.float64(0.006500000000000001),
 np.float64(0.066)]